.vendore-sidebar-wrapper{
    height:100vh;
    width:80px;
    border-left:1px solid black

}
.side-bar-toogler{
    position:absolute;
    bottom:55px;
    width:inherit;
}
.profile-sidebar{
    border-left:1px solid black;
    height:100dvh;
}