

.singIn{
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:inherit;
    background:none;
    border:none;
    color:#fff;
    

}

.singin:visited:{
    color:#00c0ff;
}
.singIn:active{
    color:#00c0ff;
}
.singIn:focus{
    color:#00c0ff;

}
.singIn:hover{
    color:#00c0ff;
    background:black;
    transition: ease 1s;
    border: solid 1px #fff;
    border-radius:15px
}
.singIn:active{
    color:#00c0ff;
}


/*
//
//
//
*/



.singOutDiv{
    position:absolute;
    top:0;
    left:0;
    height:50px;
    width:200px;
    display:flex;
    flex-direction:row;

}
.singOut{
 border:none;
 background:none;
 width:inherit;
 height:inherit;
 color:#fff;
 font-size:16px;
}

.singOut:hover{
  
    color:#00c0ff;
    transition: 1s ease;

}
.singOut:active{}

.profile-link{
    text-decoration:none;
    width:inherit;
    height:inherit;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    

}
.profile-link:visited {
    color:white
}
.profile-link:link{
    color:white
}
.profile-linkctive {
    color:white
}
.profile-link:focus {
    color:white
}
.profile-link.visited:{
    color:white;
    
}

.profile-link:hover{
    background:black;
    color:#00c0ff;
    border: 1px solid white;
    border-radius:15px;    
    transition: 1s ease
    
}
.profile-link:visited{

}