.singIn{
    position:absolute;
    left:15px;
    top:5px;
    width:100px;
    height:50px;
    background:none;
    border:none;
    color:#fff;
}

.singin:visited:{
    color:white;
}
.singIn:active{
    color:white;
}
.singIn:focus{
    color:white;
}
.singIn:hover{
    color:white;
    background:black;
    transition: ease 1s;
    border: solid 1px #fff;
}
.singIn:active{
    color:white;
}




.singOutDiv{
    position:absolute;
    top:0;
    left:0;
    height:60px;
    display:flex;
    flex-direction:column;
}
.singOut{
 border:none;
 background:none;
 width:100px;
height:50%;
}
.singOut:visited{}
.singOut:active{}
.singOut:focus{}
.singOut:hover{}
.singOut:active{}

.profile-link{
    text-decoration:none;
    width:100px;
    height:50%;
    text-align:center;
    padding-top:5px
}
.profile-link:hover{
    background:white;
}
.profile-link:visited{

}