
*{
    transition:1s ease;
}
.singIn{
    position:absolute;
    left:15px;
    top:0px;
    width:100px;
    height:inherit;
    background:none;
    border:none;
    color:#fff;
}

.singin:visited:{
    color:white;
}
.singIn:active{
    color:white;
}
.singIn:focus{
    color:white;
}
.singIn:hover{
    color:white;
    background:black;
    transition: ease 1s;
    border: solid 1px #fff;
}
.singIn:active{
    color:white;

}


/*
//
//
//
*/



.singOutDiv{
    position:absolute;
    top:0;
    left:0;
    height:60px;
    width:200px;
    display:flex;
    flex-direction:row;

}
.singOut{
 border:none;
 background:none;
 width:inherit;
 height:inherit;
 color:#fff;
 font-size:16px;
}
.singOut:visited{}
.singOut:active{}
.singOut:focus{}
.singOut:hover{
    background:white;
    color:black;
}
.singOut:active{}

.profile-link{
    text-decoration:none;
    width:inherit;
    height:inherit;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    

}
.profile-link:visited {
    color:white
}
.profile-link:link{
    color:white
}
.profile-linkctive {
    color:white
}
.profile-link:focus {
    color:white
}
.profile-link.visited:{
    color:white
}

.profile-link:hover{
    background:white;
    color:black;

}
.profile-link:visited{

}