.Modal {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #ececec;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    align-content:enter;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#404040;

  }
  .vener-x-btn{
    position:absolute;
    right:5px;
    top:5px;
  }