.footer-wrapper{
    position:absolute;
    bottom:0;
        width:100%;
        height:60px;
        border-top: 1px solid black;
        background:darkgray
}
.links-Wrapper{
    display:flex;
    width:60%;
    justify-content:space-around ;
}
.nav-link{
    text-decoration:none;    
}
.costume-link-Wrapper{
   width:35px;
   height:55px;
   border-radius:10px;
   font-size:12px;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:space-around;

}


