 .footer-link{
    text-decoration:none; 
    color:white;
    transition: ease 1s
}

.inner-link-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-around;    
    align-items:center;
    align-content:enter;
    width:70px;
    height:55px;   
}

.footer-link:visited{
    color:white;
}

.inner-link-wrapper:active{
    color:white;
}
.inner-link-wrapper:focus{
    color:white;
}
.inner-link-wrapper:hover{
    color:#00c0ff;
    border-radius:15px;
    background:black;
    transition: ease 1s;
    border: solid 1px #fff;
}
.inner-link-wrapper:active{
    color:white;
}

