:root{
    --main:#1A3636;
    --sec:#40534C;
    --therd:#677D6A;
    --for:#D6BD98;
}


.calindre{
    border:unset;
    border:1px solid;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 2px 1px 1px var(--therd);
    border-color:var(--therd);
    border-radius:3px;
    width:100%;
    transform: scale(1);
    
     
}
.calindre:hover{
    transform: scale(1.1);
    transition: all 2s ease-out;
}

.calinder-clear-btn{
  position:unset;
  position:absolute;
  right:90%;
  
  
}
.calinder-clear-btn:hover{

    transform: scale(1.1);
    transition: all 1s ease-out;
    
}


  