:root {

    --greenA:#1A3636;
    --greenB:#40534C;
    --greenC:#677D6A;
    --greenD:#D6BD98;

    --blueA:#F7FBFC;
    --blueB:#D6E6F2;
    --blueC:#B9D7EA;
    --blueD:#769FCD;
  }

*{
    font-family: "'Times New Roman', serif";

}
body{
    direction:rtl;
    position: relative;
    margin: 0;
    padding:0;
    background:#343131;
    overflow-x: hidden;

}

.home-image{
    transition:all ease 1s;
}

.orders-calindre{
    width:100%;
    background:#f4f4f5;
    height:40px;
    margin-top:20px;
    margin-bottom:20px;
    
}


