*{
    font-family: system-ui;
}
body{
    direction:rtl;
    position: relative;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.main{
    display:flex;
    width:80%;
    box-sizing: border-box;
    margin-right:10%
   
    

}
.ad-text{
  margin:25px;
  display:flex;
  justify-content:center;

  margin-right:5%;
}
