:root {
    --green-a:#1A3636;
    --green-b:#40534C;
    --green-c:#677D6A;
    --green-d:#D6BD98;

    --blue-a:"#F7FBFC";
    --blue-b:"#D6E6F2";
    --blue-c:"#B9D7EA";
    --blue-d:"#769FCD";
  }

*{
    font-family: system-ui;
    
}
body{
    direction:rtl;
    position: relative;
    margin: 0;
    padding:0;
    background:#f2f4f6;
    overflow-x: hidden;

}



